
@model Return_Order_Portal.Models.Submission

@{
    ViewData["Title"] = "ProcessResponse";
}


<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h1>Processed successfully!</h1>
    <h2>Your remaning balance is @Model.Result</h2>
   
</body>
</html>




